:root{
    --primaryColor:#ffcc0d;
    --textColor:#000;
    --maxwidth:1200px;
    --headerheight:100px;
    --whiteColor:#fff;
    --duration:.4s ease-in-out;
    --raduis:5px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Verdana, sans-serif;
    color:var(--textColor);
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
body, html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 5px; /* Set the width of the scrollbar */
}

body::-webkit-scrollbar-track {
    background-color: var(--primaryColor); /* Set the color of the scrollbar track */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--whiteColor); /* Set the color of the scrollbar thumb */
}


html._noscroll{
    overflow: hidden;
}

header,footer,section{
    width: 100%;
}

main{
    padding-top: var(--headerheight);
    width: 100%;
}

header > article,footer > article,section > article{
    width: 100%;
    max-width: var(--maxwidth);
    margin-inline: auto;
    padding: 30px;
}

.--button{
    max-width: 150px;
    width: 100%;
    background-color: var(--primaryColor);
    outline: none;
    border-radius:var(--raduis);
    color:var(--whiteColor);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    transition: all var(--duration);
    border: 1px solid var(--primaryColor);
    font-size: 1rem;
    font-weight: bold;
}

.--button:hover{
    background-color: transparent;
    color:var(--primaryColor);
}


h2{
    position: relative;
    text-align: left;
    font-size: 2rem;
    color:var(--textColor);
    margin: 0;
    padding-bottom: 10px;
    width: fit-content;
    text-transform: capitalize;
}

h2:after,h2::before{
    position: absolute;
    content: "";
    height: 5px;
    left: 0;
    background-color: var(--primaryColor);
}
h2::before{
    width: 30%;
    bottom: 0;
}
h2::after{
    width: 20%;
    bottom: -10px;
}


.header{
    background: var(--whiteColor);
    box-shadow: 0 0 15px #cbbebe87;
    z-index: 9999;
    transition: all var(--duration);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header > article{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-block: 5px;

}

.header-logo{
    max-width: 80px;
    padding: 5px;
    transition: all var(--duration);
}
.header-logo svg{
    width: 100%;
    fill:var(--textColor);
}


.header-menu{
    display: none;
    list-style: none;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    gap: 10px;
}

.header-menu li {
    min-width: 100px;
}
.header-menu li a {
    text-decoration: none;
    padding: 5px;
    font-size: 1rem;
    transition: all  var(--duration);
    text-transform: uppercase;
}

.header-menu li a:hover{
    color: var(--primaryColor);
}


.hero > article{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 50px 10px;
    justify-items: center;
}

.hero-information{
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

.hero-information > span{
    font-size: 1.5rem;
    margin: 0;
}
.hero-information > p{
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}
.hero-information > span > span{
    color:var(--primaryColor);
    margin: 0;
    font-weight: bold;
}
.hero-information-paragraph{
    margin-top: 10px;
}

.hero-information-paragraph p{
    font-size: 1rem;
    text-align: justify;
}    

.hero-information-social{
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
}

.hero-information-social a{
    padding: 5px;
    max-width: 50px;
}

.hero-information-social a  svg{
    width: 100%;
    fill:var(--textColor);
    transition: all var(--duration);
}

.hero-information-social a:hover  svg
{
    fill:var(--primaryColor)
}

.hero-information .--button{
    margin-top: 10px;
}

.hero-image{
    position: relative;
    max-width: 350px;
    padding: 20px;
    border:10px solid var(--textColor);
    overflow: hidden;
}

.hero-image img{
    object-fit: contain;
    width: 100%;
    z-index: 10;
    position: relative;
    transition: all var(--duration);
}


.hero-image::before{
    position: absolute;
    content: "";
    width: 130%;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -20%;
    background-color: var(--primaryColor);
    z-index: 5;
}


.about-biography{
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 30px 20px;
    margin-block: 50px;
    flex-wrap: wrap;
}

.about-biography > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    max-width: 320px;
    width: 100%;
    padding: 30px 10px;
    border: 3px solid var(--primaryColor);
    border-radius: var(--raduis);
    flex-wrap: wrap;
}
.about-biography > div span,.about-biography > div p{
    color:var(--textColor);
    font-size: 1.2rem;
    text-transform: capitalize;
    overflow-wrap: anywhere;
}

.about-biography > div p{
    font-weight: bold;
}


.about-cv
{
    position: relative;
    margin: 50px auto;
    height: auto;
    padding: 130px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
}

.about-cv > div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 340px;
    height: 220px;
    background-color: var(--primaryColor);
    text-decoration: none;
    font-size: 18px;
    color: var(--textColor);
    font-weight: 600;
    text-transform: uppercase;
    border-radius: var(--raduis);
    transition: all var(--duration);
}


.about-cv >div .icon
{
    position: relative;
    padding-top: 10px;
}

.about-cv >div .icon .fn__svg
{
    width: 58px;
    height: 58px;
    display: block;
    margin-bottom: 14px;
    fill: var(--whiteColor);
}

.about-cv >div .icon .fn__svg.arrow
{
    position: absolute;
    left: 50%;
    margin-left: -29px;
    top: 8px;
    will-change: transform;
    transition: 1s ease;
    transform: translateY(0px);
    animation:up_down 1s ease-in-out infinite; 
    fill: var(--whiteColor);
} 

.about-cv >div span
{
    font-weight: 900;
    color: var(--whiteColor);
}

.about-cv .line
{
    width: 2px;
    height: 100px;
    display: block;
    position: absolute;
    background-color: #000;
    left: 50%;
    margin-left: -1px;
    transition: all .5s ease;
}

.about-cv .top
{
    top: 0px;
}
.about-cv .bottom
{
    bottom: 0px;
}

.about-cv .top_hover
{
    top: 0px;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    background-color: var(--primaryColor);
}

.about-cv .bottom_hover
{
    background-color: var(--primaryColor);
    bottom: 0px;
    transform: translateY(50%);
    opacity: 0;
    visibility: hidden;
}

.about-cv .line::before
{
    left: 100%;
    margin-left: 10px;
    content: '';
    position: absolute;
    width: 2px;
    height: 60px;
    bottom: 0;
    background-color: inherit;

}

.about-cv .line::after
{
    content: '';
    position: absolute;
    width: 2px;
    height: 60px;
    bottom: 0;
    background-color: inherit;
    right: 100%;
    margin-right: 10px;
}

.about-cv:hover >div{
    opacity: .8;
}

.about-cv:hover .top_hover,.about-cv:hover .bottom_hover{
    transform: translateY(0)!important;
    opacity: 1!important;
    visibility: visible!important;
}

.about-cv:hover .bottom{
    transform: translateY(50%)!important;
    opacity: 0!important;
    visibility: hidden!important;
}

.about-cv:hover .top{
    transform: translateY(-50%)!important;
    opacity: 0!important;
    visibility: hidden!important;
}

.resume .resume-grid,.skills .skills-grid{
    display: grid;
    margin-block: 50px;
    grid-template-columns: 1fr;
    column-gap: 3.75rem;
}

.resume-grid > div >h3,.skills-grid > div >h3{
    color: var(--textColor);
    letter-spacing: .4em;
    font-size: 1.5rem;
    margin: 0;
    margin-block: 2em;
    text-transform: uppercase;
}


.resume-grid-item{
    padding-left:1.6rem;
    position: relative;
}

.resume-grid-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: -0.15rem;
    width: 2px;
    height: 0%;
    background: var(--primaryColor);
    transition: all 2s ease-in-out;
}

.resume-grid-item._appear::before{
    height: 100%;
    transition: all 2s ease-in-out;
}

.resume-grid > div:first-child .resume-grid-item:last-child::before{
    transition-delay: 1.5s;
} 

.resume-grid > div:last-child .resume-grid-item:nth-child(3):before{
    transition-delay: 1.5s;
} 


.resume-grid > div:last-child .resume-grid-item:last-child::before{
    transition-delay: 3s;
} 





.resume-grid-item:not(:last-child){
    padding-bottom: 3rem;
}

.resume-grid-item::after{
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid var(--primaryColor);
    position: absolute;
    left: -.56rem;
    background-color: var(--whiteColor);
}

.resume-grid-item{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.resume-grid-item h3{
    font-size: 1.5rem;
    color: var(--textColor);
    font-weight: bold;
}

.resume-grid-item span{
    font-size: 1rem;
    color: var(--primaryColor);
}

.resume-grid-item p{
    font-size: 1rem;
    color: var(--textColor);
}


.skills-grid-item{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.skills-grid-item >div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills-grid-item >div span{
    font-size: 1rem;
    color:var(--textColor);
    font-weight: bold;
    text-transform: capitalize;

}
.skills-grid-item {
    margin-top: 20px;
}

.skills-grid-item >div span:last-child{
    color:var(--primaryColor);
}
.skills-grid-item .percentage
{
    width: 100%;
    height: 10px;
    background-color: grey;
    border-radius: var(--raduis);
}

.skills-grid-item .percentage._appear span{
    width: var(--width);
}
.skills-grid-item .percentage span{
    position: relative;
    height: 100%;
    inset: 0;
    width: 0;
    background-color: var(--primaryColor);
    border-radius: var(--raduis);
    transition: all 2s ease-in-out;
}


.skills-grid > div .skills-grid-item:nth-child(3) .percentage span{
    transition-delay:.5s;
}

.skills-grid > div .skills-grid-item:nth-child(4) .percentage span{
    transition-delay:.7s;
}

.skills-grid > div .skills-grid-item:nth-child(5) .percentage span{
    transition-delay:1s;
}
.skills-grid > div .skills-grid-item:nth-child(6) .percentage span{
    transition-delay:1.2s;
}

.work-flex{
    margin-block: 50px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 20px 10px;
    flex-wrap: wrap;
}

.work-flex-card{
    max-width: 350px;
    width: 100%;
    height: 300px;
    padding: 10px;
    border:1px solid var(--primaryColor);
    border-radius: var(--raduis);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: 0 0 4px var(--primaryColor);
    flex-wrap: wrap;
    position: relative;
   
}

.work-flex-card h3{
    font-size: 1.5rem;
    text-transform: capitalize;
    position: relative;
    text-align: center;
}

.work-flex-card-hover{
    position: absolute;
    content: "";
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primaryColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all var(--duration);
    transform: scale(0);
    border-radius: var(--raduis);
}

.work-flex-card-hover svg{
    max-width: 80px;
    width: 100%;
    fill:var(--whiteColor);
    transition: all var(--duration);
    opacity: 0;
}

.work-flex-card:hover .work-flex-card-hover{
    transform: scale(1);
}
.work-flex-card:hover .work-flex-card-hover svg{
    opacity: 1;
}

.work .--button
{
    margin-inline: auto;
}

.contact form{
    margin-block: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin-inline: left;
    width: 100%;
}

.contact form > div{
    position: relative;
}

.contact-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
}

form  input,form textarea{
    width: 100%;
    max-width: 100%;
    font-size: 1em;
    padding: 10px 20px;
    border: 1px solid var(--textColor);
    transition: 0.5s all ease;
    position: relative;
    background-color: transparent;
    z-index: 10;
    outline: none;
    border-radius: var(--raduis);
}

form textarea{
    height: 200px;
}
form .--button{
    cursor: pointer;
    max-width: 300px;
    padding-block: 20px;
}
.contact form > div span{
    position: absolute;
    top: 20%;
    left: 10px;
    font-size: 1rem;
    font-weight: bold;
}

form input + span, form textarea + span {
    transition: all var(--duration);
}

form input:focus, form textarea:focus {
    border: 1px solid var(--primaryColor);
}

form input:focus + span, form textarea:focus + span, form input:not(:placeholder-shown) + span, form textarea:not(:placeholder-shown) +span {
    color: var(--primaryColor);
    font-size: .8rem;
    top: -10px;
    background-color: white;
    z-index: 20;
}

.--split{
    grid-column-start: 1;
    grid-column-end: 2;
   
}

.--split input {
    width: 100%;
}

.contact-grid-social{
    display: flex;
    align-items: flex-start;
    padding-top: 50px;
    border-top: 3px solid var(--primaryColor);
    gap: 20px;
    height: fit-content;
    margin-block: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-grid-social a{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    min-width: 200px;
}
.contact-grid-social a svg{
    width: 100%;
    max-width: 50px;
    fill:var(--textColor);
    transition: all var(--duration);
}

.contact-grid-social a span{
    font-size: 1rem;
    font-weight: bold;
    transition: all var(--duration);
}

.contact-grid-social a:hover svg{
    fill:var(--primaryColor);
}

.contact-grid-social a:hover span{
    color:var(--primaryColor);
}


aside{
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0000005f;
    overflow: hidden;
    z-index: 9999999999;
    display: none;
}

aside article{
    position: relative;
    max-width: 400px;
    width: 100%;
    height: 100vh;
    background-color: var(--whiteColor);
    margin-left: auto;
    display: flex;
    flex-direction: column;
   
}

.popup-close{
    align-self: flex-end;
    width: 40px;
    height: 40px;
    background-color: var(--primaryColor);
    outline: none;
    color: var(--whiteColor);
    border-radius: var(--raduis);
    border:none;
    margin: 30px;
    cursor: pointer;
    transition: all var(--duration);
    font-size: 1rem;
}

.popup-close:hover{
    background-color: transparent;
    color:var(--primaryColor);
}

.popup-menu{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin-block: 50px;
    width: 100%;
    gap: 10px;
}

.popup-menu li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.popup-menu li a{
    padding: 5px;
    min-width: 150px;
    text-decoration: none;
    color:var(--textColor);
    transition: all var(--duration);
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    margin-inline: auto;
}

.popup-menu li a:hover{
    color:var(--primaryColor);
}

.popup hr{
    width: 80%;
    margin-inline: auto;
    height: 5px;
    background-color: var(--primaryColor);
    border: none;
}

.popup-social{
    list-style: none;
    padding: 0;
    display: flex;
    margin-block: 50px;
    width: 100%;
    gap: 10px;
    align-items: stretch;
    justify-content: center;
}

.popup-social li{
   width: fit-content;
}

.popup-social li a{
    width: 50px;
    padding: 5px;
    display: flex;
}

.popup-social li a svg{
    width: 100%;
    fill:var(--textColor);
    transition: all var(--duration);
}
.popup-social li a:hover svg{
    fill:var(--primaryColor);
}


.header-mobile{
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-inline: 10px;
    margin-left:auto;
    justify-content: center;
    cursor: pointer;

}


.header-mobile span{
    width: 100%;
    height: 5px;
    background-color: var(--textColor);
    transition: all var(--duration);
}

.header-mobile:hover span{
    background-color:var(--primaryColor);
}


html._open{
    overflow-y: hidden;
}
html._open aside{
    display: flex;
}

html._open aside >article{
transform: translateX(0);
}

.color_sheme {
    position: fixed;
    top: 100px;
    right: 0px;
    width: 40px;
    height: 40px;
    background-color: var(--primaryColor);
    text-align: center;
    display: inline-grid;
    place-content: center;
    box-shadow: 5px 5px 5px #cfcccc;
    cursor: pointer;
    z-index: 99;
}


.color_sheme  em {
    color: white;
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    height: 100%;
}

.color_box {
    position: fixed;
    width: 100%;
    max-width: 350px;
    top: 100px;
    right: 0px;
    padding: 20px;
    background-color:var(--textColor);
    transform: translateX(100vw);
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    z-index: 999;
}

.closer {
    outline: none;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    align-self: flex-end;
    background-color: var(--primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border: none;
}

.closer em{
    color: var(--whiteColor);
} 
.color_box > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.item {
    display: block;
    animation: tab_animation 1s ease;
}

.item > span {
    color: #fff;
    text-align: left;
    margin: 13px 0px;
    font-size: 1em;
    display: block;
}

.color_box ul li ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -5px;
}

.color_box ul li ul li {
    margin: 0 0 5px 5px;
    width: 30px;
    height: 20px;
    position: relative;
    outline: 1px solid transparent;
    cursor: pointer;
}


.disabled {
    display: none;
}
.info {
    float: right;
    color: #fff;
    display: flex;
    width: fit-content;
    font-size: 14px;
    align-items: center;
    margin-top: 20px;
}

.info >div{
    color: var(--whiteColor);
    font-size: 1rem;
}

.info .separator {
    margin: 0 5px;
}

.btn_color {
    bottom: -50px;
    right: 0;
    display: flex;
    position: absolute;
}

.btn_color span {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: block;
    background-color: #000;
    color: #fff;
    z-index: 5;
    overflow: hidden;
    margin-right: 10px;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_color span em{
    color: var(--whiteColor);
}




@keyframes up_down{
    0%,100%{
        transform: translateY(-5%);
    }
    25%,75%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(10%);
    }
}


.color_box._opened {
    transform: translateX(0);
}


@keyframes tab_animation
{
    0%{opacity:0;transform:rotateY(20deg) rotateZ(-3deg)}
    100%{opacity:1;transform:rotateY(0) rotateZ(0)}
}


@media only screen and (min-width: 800px)
{
    
    .contact-grid-social{
        flex-direction: column;
        padding-top: 0px;
        border-top: none;
        padding-left: 50px;
        border-left: 3px solid var(--primaryColor);
    }

    .contact form{
        grid-template-columns: 1fr 1fr;
    }

    .contact-grid{
        grid-template-columns: 2fr 1fr;
    }
    

    .--split{
        grid-column-start: 1;
        grid-column-end: 3;
       
    }
}

@media only screen and (min-width: 1100px)
{

    .hero > article{
        grid-template-columns: 1fr 1fr;
    }

    .resume .resume-grid,.skills .skills-grid{
        grid-template-columns: 1fr 1fr;
    }

    .resume-grid > div >h3,.skills-grid > div >h3{
        font-size: 2rem;
    }

    .header-menu{
        display: flex;
    }

    .header-mobile{
        display: none;
    }

    .aside{
        display: none!important;
    }

    html._open{
        overflow-y: auto;
    }
    html._open aside{
        display: none;
    }
}

 ._scroll .header .header-logo {
    max-width: 60px;
}