@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.37;
    

}
body
{
    overflow-x: hidden;
}
:root
{
    --main-color:#ffcc0d;
    --text-color: #000;
}

.container
{
width: 100%;
}

.row
{
    display: grid;
    grid-template-columns: 340px auto;
}

a
{
    text-decoration: none;
    font-size: 1.2em;
    color: var(--text-color);
}
header
{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 350px;
    padding: 20px 30px;
    transition: 0.6s all ease;

}
.nav-line
{
    top: 0;
    bottom: 0;
    position: absolute;
    right: 0;
    width: 4px;
    overflow: hidden;
}
.nav-line::after
{
    content: '';
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
}
header img
{
    object-fit: cover;
    object-position: center;
    width: 100%;
    padding: 30px 40px;
}
.navclose
{
    position: absolute;
    right: -14px;
    width: 40px;
    height: 40px;
    background-color: black;
    text-align: center;
    display: block;
    line-height: 2;
    color: white;
    outline: gray solid 1px;
    z-index: 999;
    cursor: pointer;
}
nav
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

nav a
{
    display: inline-block;
    padding: 20px 10px;
    width: 100%;
    margin: 10px;
    text-align: center; 
    font-weight: 500;

}

nav  .current
{
    background-color: var(--main-color);
}

.fa-solid
{
    transition: all 1s ease;
}

main
{
    margin-left: 360px;
    padding: 30px 30px;
    width: calc(100vw - 390px);
    transition: 0.6s all ease;

}

main section
{
    min-height: 100vh;
}

#Home
{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    text-align: center;
    align-content: center;
}
#Home,#Biography,#work,#contact
{
    border-bottom: 3px solid black;

}
#contact
{
    margin-top: 50px;
}

#Home .bg_img
{
    position: relative;
    width: 70%;
    transform: translate3d(0px, 0px, 0px);
    transform-style: preserve-3d;
    margin: auto;
    
}

#Home .bg_img .layer
{
    position: relative;
    display: block;
    left: 0px;
    top: 0px;
    transform: translate3d(0.0103807px, -2.67171px, 0px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    box-sizing: border-box;
    height: 75%;
}

#Home .bg_img .border
{
    border: 10px solid #000;
    padding: 13px;
    z-index: 2;
}

.picture
{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.background
{
    position: absolute;
    background-color: var(--main-color);
    padding: 0;
    top: 80px!important;
    bottom: 80px!important;
    left: -20px!important;
    right: -20px!important;
    z-index: 1;
}
.main-title
{
    position: relative;
    
}

h3::after
{
    transition: 0.6s all ease;

}
.main-title h3
{
    position: relative;
    font-size: 3.125em;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
}

.h3::after
{
    width: 300px!important;
}
.main-title h3::after
{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 5px;
    width: 150px;
    height: 6px;
    background-color:  var(--main-color);

}

.main-title .paragraph
{
    text-align: left;
    padding: 40px 0;
}

.main-title .paragraph p
{
    margin: 0;
    padding: 0;
    margin-bottom: 43px;
    font-weight: 400;
    font-size: 1.375em;
}

#Biography
{
    position: relative;
    text-align-last: center;
    padding: 50px 0px;
}

#Biography h3 , #work h3,#contact h3
{
    position: relative;
    font-size: 3.125em;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    text-align-last: center;
}

#Biography h3::after,#work h3::after,#contact h3::after
{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 40%;
    width: 150px;
    height: 6px;
    background-color:  var(--main-color);

}
#Biography p
{
    margin: 43px 0;
    padding: 0;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.375em;
}

#Biography .Biodetails
{
    margin: 43px 0;
    display: grid;
   
    padding: 10px;

}

#Biography .Biodetails .details,#Biography .Biodetails .address,#Biography .Biodetails .emails
{
    display: flex;
    flex-direction: row;
    margin: 5px 0px;
    justify-content: center;
}

#Biography .Biodetails .details p,
#Biography .Biodetails .address p,
#Biography .Biodetails .emails p
{
    background-color: #f2f2f2;
    margin: 0 20px;
    padding: 10px;
    line-height: 1.6;
    border: 4px solid #444;
    overflow-wrap: anywhere;
    width: 100%;
}

#Biography .Biodetails .details p span,
#Biography .Biodetails .address p span,
#Biography .Biodetails .emails p span
{
    font-weight: 600;
}


#Biography .Biodetails .cv
{
    position: relative;
    margin: 50px 0px;
    place-self: center;
    height: auto;
    padding: 130px 0;
}

#Biography .Biodetails .cv a
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 340px;
    height: 220px;
    background-color: var(--main-color);
    text-decoration: none;
    font-size: 18px;
    color: var(--text-color-for-main-bg);
    font-weight: 600;
    text-transform: uppercase;
}


#Biography .Biodetails .cv a .icon
{
    position: relative;
    padding-top: 10px;
}

#Biography .Biodetails .cv a .icon .fn__svg
{
    width: 58px;
    height: 58px;
    display: block;
    margin-bottom: 14px;
}

#Biography .Biodetails .cv a .icon .fn__svg.arrow
{
    position: absolute;
    left: 50%;
    margin-left: -29px;
    top: 8px;
    will-change: transform;
    transition: 1s ease;
    transform: translateY(0px);
} 

#Biography .Biodetails .cv a span
{
    font-weight: 900;
}

#Biography .Biodetails .cv .line
{
    width: 2px;
    height: 100px;
    display: block;
    position: absolute;
    background-color: #000;
    left: 50%;
    margin-left: -1px;
    transition: all .5s ease;
}

#Biography .Biodetails .cv .top
{
    top: 0px;
}
#Biography .Biodetails .cv .bottom
{
    bottom: 0px;
}

#Biography .Biodetails .cv .top_hover
{
    top: 0px;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    background-color: var(--main-color);
}

#Biography .Biodetails .hovered .top_hover
{
    transform: translateY(0)!important;
    opacity: 1!important;
    visibility: visible!important;
}
#Biography .Biodetails .hovered .bottom_hover
{
    transform: translateY(0)!important;
    opacity: 1!important;
    visibility: visible!important;
}
#Biography .Biodetails .hovered .bottom{
    transform: translateY(50%)!important;
    opacity: 0!important;
    visibility: hidden!important;
}

#Biography .Biodetails .hovered .top{
    transform: translateY(-50%)!important;
    opacity: 0!important;
    visibility: hidden!important;
}
#Biography .Biodetails .cv .bottom_hover
{
    background-color: var(--main-color);
    bottom: 0px;
    transform: translateY(50%);
    opacity: 0;
    visibility: hidden;
}

#Biography .Biodetails .cv .line::before
{
    left: 100%;
    margin-left: 10px;
    content: '';
    position: absolute;
    width: 2px;
    height: 60px;
    bottom: 0;
    background-color: inherit;

}

#Biography .Biodetails .cv .line::after
{
    content: '';
    position: absolute;
    width: 2px;
    height: 60px;
    bottom: 0;
    background-color: inherit;
    right: 100%;
    margin-right: 10px;
}


#Biography .Biodetails .cv:hover > a .icon .fn__svg.arrow
{
    animation-name: thumb;
    animation-duration: 3000ms;
    transform-origin:50% 50%;
    animation-iteration-count: infinite; /* The magic keyword for infinite*/
    animation-timing-function: linear;
}


@keyframes thumb {
    0% { -webkit-transform: translateY(0); }
    50% { -webkit-transform: translateY(-16px); }
    100% { -webkit-transform: translateY(-0px); }
}

.experience
{
    width: 100%; 
}

.experience ul
{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    position: relative;
}

.experience ul li
{
    padding: 20px 30px;
    position: relative;
}

.experience ul li a
{
    font-size: 1.5em;
    font-weight: 900;
    padding: 20px 0;
    cursor: pointer;
}

.experience ul li a::after
{
    content: "|";
    margin-left: 30px;
    padding: 0;
    font-size: 2.5em;
}

.experience ul li:last-child a::after
{
    content: "";
}
.experience ul li .active::before
{
    content: "";
    position: absolute;
    width: 130px;
    height: 5px;
    bottom: 0;
    left: 50%;
    transform: translateX(-60%);
    background: var(--main-color);
    transition: all .3s;
}

.experience .tab
{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    transition: 5s linear;
    animation: tab_animation 1s ease;


}

.experience #tab1 div,.experience #tab2 div
{
    background-color: #f2f2f2;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    text-align: left;
    text-align-last: left;
    box-shadow: 5px 5px 5px #cfcccc;
    margin: 20px 0;

}

.experience #tab1 div p,
.experience #tab2 div p
{
    font-weight: 500;
    font-size: 1.5em;
    margin: 8px 0;
    text-align: left;
    text-align-last: left;
    
}
.experience #tab1 div p span,
.experience #tab2 div p span
{
    font-weight: 300;
    font-size: 1.3em;
}

.experience #tab1 div h4::before,
.experience #tab2 div h4::before
{
    content: ".";
    font-size: 1.5em;
    margin-right: 1em;

}


#tab3,#tab2
{
   
    display: none;
}

#tab3 .chart
{
    margin: 2em 7em;
}

#tab3 .chart span
{
    font-size: 1.12em;
    margin-bottom: 7px;
    display: block;
    text-align-last: left;
}

#tab3 .chart footer
{
    background-color: #373737;
    height: 4px;
    width: 100%;
}


#work .gridlist
{
    display: grid;
    grid-template-columns:auto auto;
    grid-gap: 30px;
    padding: 30px 0px;
    margin: 20px;
}

#work .gridlist div
{
    padding: 0px;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    box-shadow: 5px 5px 5px #cfcccc;
    width: 100%;
    height: 100%;
}

#work .gridlist div div 
{
    padding: 20px 50px;
}

.worktitle
{
    
    flex-direction: row!important;
    justify-content: space-between;
    align-items: center;
}

.worktitle .btn
{
  background-color:var(--main-color);
  border: none;
  color: var(--text-color);
  padding: 10px 22px;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  transition: 0.6s all ease;
}

.worktitle .btn:hover
{
    opacity: 0.6;
}

em
{
    color: var(--main-color);
    font-size: 0.8em;
    margin-right: 15px;
}

.worktitle span
{
    font-size: 1.2em;
    font-weight: 500;
    width: 60%;
}

.workdetai p
{
    font-size: 1.1em;
    font-weight: 400;
}

.workcode span
{
    font-size: 1.3em;
    font-weight: 600;
}

#contact form
{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 30px 20px;
    
}
#contact form div
{
    margin: 10px 0px;
}

form .formdetail
{
    display: flex;
    flex-direction: row;
    margin: 10px 30px;
}

.detailsname,.detailsEmail,.formphone,.formmessage
{
    position: relative;
    width: 100%;
}
.detailsname span,.detailsEmail span,.formphone span,.formmessage span
{
    position: absolute;
    top: 20%;
    left: 10px;
    font-size: 2em;
    font-weight: 600;
}

form input,form textarea
{
    width: 85%;
    font-size: 2em;
    padding: 10px 20px ;
    border: 3px solid black;
    transition: 0.5s all ease;
    position: relative;
    background-color: transparent;
    z-index: 10;
}

form  input:focus,form textarea:focus
{
    border: 3px solid var(--main-color);
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

form input + span,form textarea + span
{
    transition: 0.7s all ease;
}



form input:focus + span,
form textarea:focus + span,
form input:not(:placeholder-shown) + span,
form textarea:not(:placeholder-shown) +span
{
    color: var(--main-color);
    font-size: 1em;
    top: -10px;
    background-color: white;
    z-index: 20;
}

.formphone input,form textarea
{
    width: 93%;
}

.formmessage input
{
    height: 10em;

}

.btnsub
{
    background-color: var(--main-color);
    width: 93%;
    cursor: pointer;
    transition: 0.6s all ease;
}
button
{
    height: 70px;
    font-size: 1.3em;
}

.btnsub:hover
{
    opacity: 0.8;
}

.social ul
{
    list-style: none;
    display: flex;
    justify-content: center;
}

.social ul li a
{
    text-decoration: none;
}

.social ul li a em
{
    font-size: 2em;
    color: var(--main-color);

}

.color_sheme
{
    position: fixed;
    top: 15px;
    right: 0px;
    width: 40px;
    height: 40px;
    background-color: var(--main-color);
    text-align: center;
    display: inline-grid;
    place-content: center;
    box-shadow: 5px 5px 5px #cfcccc;

}
.color_sheme a
{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.color_sheme a em
{
 color: white;
 font-size: 1.5em;
 text-align: center;
 width: 100%;
 height: 100%;
}

.color_box
{
    position: absolute;
    width: 385px;
    top: 0px;
    right: 0px;
    padding: 20px;
    background-color: #000;
    max-width: 100vw;
    transform: translateX(100%);
    transition: transform 0.5s ease;
}

.opened .color_box
{
    transform: translateX(0);
}

.closer
{
    color: #fff;
    outline: 2px solid #333;
    width: 20px!important;
    height: 20px!important;
    position: absolute;
    right: 10px;
    top: 10px;
}

.closer  em
{
    font-size: 17px!important;
    display: block;
}

.item h5
{
    color: #fff;
    text-align: left;
    margin: 13px 0px;
    font-size: 1em;
}

.color_box ul 
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.item
{
    margin-bottom: 20px;
    display: block;
    animation: tab_animation 1s ease;
}


.color_box ul li ul
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -5px;
}

.color_box ul li ul li 
{
    margin: 0 0 5px 5px;
}

.color_box li a
{
    position: relative;
    width: 30px;
    height: 20px;
    display: block;
    text-decoration: none;
    outline: 1px solid transparent;   
}

.disabled
{
    display: none;
}

.info
{
    float: right;
    color: #fff;
    display: flex;
    width: fit-content;
    font-size: 14px;
    align-items: center;
}

.info .separator {
    margin: 0 5px;
}

.btn_color
{
    bottom: -50px;
    right: 0;
    display: flex;
    position: absolute;
}
.btn_color a
{
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: block;
    background-color: #000;
    color: #fff;
    z-index: 5;
    overflow: hidden;
    margin-right: 10px;
    padding: 7px;
}

@keyframes tab_animation
{
0%{opacity:0;transform:rotateY(20deg) rotateZ(-3deg)}
100%{opacity:1;transform:rotateY(0) rotateZ(0)}

}

.success {
    display: none;
    color: var(--main-color);
    margin-bottom: 25px;
    text-align: left;
    font-weight: 500;
    font-size: 1.5em;
    animation: success 10s forwards;
}

.empty_notice {
    color: var(--main-color);
    margin-bottom: 25px;
    display: none;
    text-align: left;
    font-weight: 500;
    font-size: 1.5em;
    animation: success 10s forwards;
}

@keyframes success
{
0%{display: block!important;opacity: 1;}
100%{display: none;opacity: 0;}

}

.mobileopened .bar1
{
    transform: rotate(45deg);
    transform-origin: 7% 145%;

}
.mobileopened .bar2
{
    opacity: 0;
}
.mobileopened .bar3
{
    transform: rotate(-45deg);
    transform-origin: 5% 0%;
}

.signature
{
    position: relative;
    width: 50%;

}

.signature img
{
    object-fit: fill;
    width: 100%;

}
.totop
{
    display: none;
    position: fixed;
    bottom: 15px;
    right: 5px;
    width: 40px;
    height: 40px;
    background-color: var(--main-color);
    text-align: center;
    place-content: center;
    box-shadow: 5px 5px 5px #cfcccc;
    z-index: 9999999999;

}
.totop a
{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.totop a em
{
 color: white;
 font-size: 1.5em;
 text-align: center;
 width: 100%;
 height: 100%;
}



/*extra small*/
@media (max-width:567px) {
    body{
        font-size: 12px;
    }
    #Biography h3, #work h3, #contact h3
    {
        text-align-last: left;
    }
    #Biography h3::after, #work h3::after, #contact h3::after
    {
        left: 0;
    }
    .experience ul li
    {
        width: 100%;
        text-align-last: center;
    }
    .experience ul li a::after
    {
        content: "";
    }
    .experience ul li a
    {
        height: 100%;
        
    }
    .experience ul
    {
        flex-direction: column;
    }
    #Biography {
        text-align-last: left;        
    }
    #Biography .Biodetails
    {
        display: flex;
        flex-direction: column;
    }
    #Biography .Biodetails .details, #Biography .Biodetails .address, #Biography .Biodetails .emails
    {
        flex-direction: column;

    }
    #Home
    {
    display: grid;
    grid-template-columns: auto;
    margin-top: 20%;
    width: 100vw;
    }
    #Home .bg_img
    {
        margin: 0 auto;
    }
    .main-title
    {
        margin-bottom: 20px;
    }

    #work .gridlist
    {
        grid-template-columns:auto;
    }
    form input, form textarea
    {

    }
}


.mb
{
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1000000;
    display: none;
}

.nav_mobile
{
    width: 100vw;
    position: relative;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    top: 0;
    z-index: 100000;
    height: 80px;
    background: var(--main-color);
}

.nav_mobile div:first-child
{
    width: 40%;
    position: relative;
}
.nav_mobile img
{
    object-fit: fill;
    width: auto;
    height: 100%;
}



.toggle
{
    width: 40px;
    height: 40px;
    padding: 7px;
    margin-top: 10px;
    background-color: black;
    cursor: pointer;
    outline: black solid 1px;
}
.toggle div:first-child
{
    margin-top: 2px;
}
.toggle div
{
    width: 100%!important;
    height: 3px;
    margin-top: 6px;
    background-color: white;
    transition: all 0.2s;
}

.mobile
{
    background-color: var(--main-color);
    position: relative;
    width: 100vw;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    align-items: center;
    outline: black solid 1px;
    border: 1px solid black;
    transition: 0.6s all ease;
    opacity: 0;
    height: 0;
}
.mobile li 
{
    width: 100%;
    text-align-last: center;
    padding: 12px;
}
.mobile li a
{
    width: 100%;
    font-size: 18px;
}

/*small*/
@media (min-width:567px) and (max-width:768px) {
    body{
        font-size: 10px;
    }
    #work .gridlist
    {
    display: grid;
    grid-template-columns:auto;
    
    }
    .lines::after
    {
        width: 109px!important;
    }
}

/*meduim*/
@media (min-width:768px) and (max-width:992px) {
    body{
        font-size: 14px;
    }
    .lines::after
    {
        width: 209px!important;
    }
}

/*large*/
@media (min-width:992px) and (max-width:1140px)
{
    .lines::after
    {
        width: 209px!important;
    }
}

@media (max-width:1140px)
{
    header{
        display: none;
    }
    main{
        width: 100vw;
        margin-left: 0;
    }
    .row
    {
        display: block;
    }
    .mb
    {
        display: block;
    }
    .color_sheme{
        position: fixed;
        top: 90px;
        z-index: 9999999;
    }
    
}